<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/stylesheets/css.css">
</head>
<body>
	<button class='add'>新建用户</button>
	<table border='1'>
		<thead>
			<tr>
				<td>id</td>
				<td>name</td>
				<td>age</td>
				<td>work</td>
				<td>study</td>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<div class="mark">
		<div class="box">
			<p><label>name</label><input type="text" name='name' class='name'></p>
			<p><label>age</label><input type="text" name='age' class='age'></p>
			<p><label>work</label><input type="text" name='work' class='work'></p>
			<p><label>study</label><input type="text" name='study' class='study'></p>
			<button class='addinfo'>添加</button>
		</div>
	</div>
	<script src='javascripts/jquery-1.7.2.js'></script>
	<script src='javascripts/info.js'></script>
</body>
</html>