<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="wrap-box">
    <div id="particles-js"></div>
    <div class="login-box">
      <h1 class="login-title">Wecash Mall</h1>
      <form class="login-form">
        <div class="login-wrap" >
          <label >用户名</label>
          <input type="text" name="username" data='hr' class='user'>
          <div>
            <div class="hr"></div>
            <div class='new-hr'>请填写用户名</div>
          </div>
        </div>
        <div class="login-wrap">
          <label class='pwd'>登陆密码</label>
          <input type="password" name="userpwd" data='hr' class='userpwd'>
          <div>
            <div class="hr"></div>
            <div class="new-hr"></div>
          </div>
        </div>
        <div class="login-btn">
          <button>登陆</button>
        </div>
      </form>
    </div>
  </div>
  
  <script src='javascripts/particles.js'></script>
  <script src='javascripts/app.js'></script>
  <script src='javascripts/jquery-1.7.2.js'></script>
  <script src='javascripts/click.js'></script>
</body>
</html>